# Security: Enforce a 1-day cooldown before installing newly published packages
# This helps prevent supply chain attacks by giving the community time to identify malicious releases
# Value is in minutes (1440 = 24 hours)
# Temporarily drop for minimatch fix
minimum-release-age=720

# We are pinning the purchases-ui-js version that we are developing.
# We can exclude it from the minimum-release-age check.
minimum-release-age-exclude[]=@revenuecat/purchases-ui-js
