trigger:
  branches:
    include:
      - main
  tags:
    include:
      - v*
  paths:
    exclude:
      - "*"

pr:
  - "*"

pool:
  vmImage: "ubuntu-latest"

variables:
  npm_config_cache: $(Pipeline.Workspace)/.npm

jobs:
  - job: RunTests
    displayName: "Run Tests"
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: "18.x"
        displayName: "Install Node.js"

      - task: Cache@2
        inputs:
          key: 'npm | "$(Agent.OS)" | package-lock.json'
          restoreKeys: 'npm | "$(Agent.OS)"'
          path: $(npm_config_cache)
        displayName: "Cache npm"

      - script: npm ci
        displayName: "Install dependencies"

      - script: npm ci
        workingDirectory: "examples/rcbilling-demo"
        displayName: "Install dependencies rcbilling-demo"

      - script: npm run lint
        displayName: Linting

      - script: npm run prettier:ci
        displayName: Prettier

      - script: npm run test:typeCheck
        displayName: Type checker including tests

      - script: npm run svelte-check
        displayName: Svelte check

      - script: npm run test
        displayName: Unit tests

      - script: npm run build
        displayName: "Build"

      - script: npm run extract-api
        displayName: "Extract API using api-extractor"

      - script: git diff --exit-code api-report/**
        displayName: "Check if API has changed"

      - script: npm pack
        displayName: "Pack"

  - job: RunRCBillingDemoTests
    displayName: "Run RC Billing demo tests"
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: "18.x"
        displayName: "Install Node.js"

      - task: Cache@2
        inputs:
          key: 'npm | "$(Agent.OS)" | package-lock.json'
          restoreKeys: 'npm | "$(Agent.OS)"'
          path: $(npm_config_cache)
        displayName: "Cache npm"

      - script: npm ci
        displayName: "Install dependencies"

      - script: npm run build
        displayName: "Build SDK"

      - script: npm ci
        workingDirectory: "examples/rcbilling-demo"
        displayName: "Install dependencies rcbilling-demo"

      - script: npm run lint
        workingDirectory: "examples/rcbilling-demo"
        displayName: Linting rcbilling-demo

      - script: npm run prettier:ci
        workingDirectory: "examples/rcbilling-demo"
        displayName: Prettier rcbilling-demo

      - script: npm run build
        workingDirectory: "examples/rcbilling-demo"
        displayName: "Build rcbilling-demo"

      - script: npm run test:ci
        workingDirectory: "examples/rcbilling-demo"
        displayName: E2E tests rcbilling-demo
        env:
          VITE_RC_API_KEY: $(VITE_RC_API_KEY)
