version: 2.1
orbs:
  revenuecat: revenuecat/sdks-common-config@3.0.0
  aws-cli: circleci/aws-cli@4.1.3

aliases:
  release-tags: &release-tags
    filters:
      tags:
        ignore: /^.*-SNAPSHOT/
      branches:
        ignore: /.*/
  release-branches: &release-branches
    filters:
      tags:
        ignore: /.*/
      branches:
        only: /^release\/.*/
  only-main: &only-main
    filters:
      branches:
        only: main

parameters:
  action:
    type: enum
    enum: [ default, bump ]
    default: default
  version:
    type: string
    default: ""

commands:
  copy-npm-rc:
    steps:
      - run:
          name: Copy npmrc sample file to final location
          command: cp .npmrc.SAMPLE .npmrc

  install-dependencies:
    steps:
      - run:
          name: Install pnpm package manager
          command: |
            npm install --global corepack@latest
            corepack enable
            corepack prepare pnpm@latest-10 --activate
            pnpm config set store-dir .pnpm-store
      - copy-npm-rc
      - run:
          name: Npm Install
          command: pnpm install



jobs:
  docs-deploy:
    docker:
      - image: cimg/ruby:3.3.0-node
    steps:
      - checkout
      - install-dependencies
      - revenuecat/install-gem-unix-dependencies:
          cache-version: v1
      - revenuecat/setup-git-credentials
      - run:
          name: Build docs
          command: bundle exec fastlane generate_docs

  make-release:
    description: "Publishes the new version and creates a github release"
    docker:
      - image: cimg/ruby:3.3.0-node
    steps:
      - checkout
      - revenuecat/install-gem-unix-dependencies:
          cache-version: v1
      - revenuecat/trust-github-key
      - install-dependencies
      - run:
          name: Build
          command: pnpm run build
      - run:
          name: Pack
          command: pnpm pack
      - copy-npm-rc
      - run:
          name: release
          command: bundle exec fastlane release

  deploy-demo:
    docker:
      - image: cimg/ruby:3.3.0-browsers
    steps:
      - checkout
      - revenuecat/install-gem-unix-dependencies:
          cache-version: v1
      - run:
          name: Update ENV for demo
          command: |
            echo 'export VITE_RC_API_KEY=${DEMO_RC_API_KEY}' >> "$BASH_ENV"
            source "$BASH_ENV"
      - install-dependencies
      - run:
          name: Install dependencies webbilling-demo
          working_directory: examples/webbilling-demo
          command: pnpm install
      - run:
          name: Build
          command: pnpm run build
      - run:
          name: Build webbilling-demo
          working_directory: examples/webbilling-demo
          command: pnpm run build
      - aws-cli/setup:
          aws_access_key_id: AWS_ACCESS_KEY_ID
          aws_secret_access_key: AWS_SECRET_ACCESS_KEY
          region: AWS_REGION
      - run:
          name: Sync files to S3 bucket
          working_directory: examples/webbilling-demo
          command: aws s3 sync dist s3://app-rcbillingdemo.revenuecat.com --delete
      - run:
          name: Fix cache control on index.html
          working_directory: examples/webbilling-demo
          command: aws s3 cp --cache-control 'no-cache' --content-type 'text/html' s3://app-rcbillingdemo.revenuecat.com/index.html s3://app-rcbillingdemo.revenuecat.com/index.html --metadata-directive REPLACE
      - run:
          name: Invalidate Cloudfront Distribution
          working_directory: examples/webbilling-demo
          command: aws cloudfront create-invalidation --distribution-id E31EVZCWLXEOFB --paths "/*"

  test:
    docker:
      - image: cimg/ruby:3.3.0-browsers
    steps:
      - checkout
      - run: git fetch # Chromatic needs full history
      - revenuecat/install-gem-unix-dependencies:
          cache-version: v1
      - revenuecat/setup-git-credentials
      - install-dependencies
      - run:
          name: Install dependencies webbilling-demo
          working_directory: examples/webbilling-demo
          command: pnpm install
      - run:
          name: Linting
          command: pnpm run lint
      - run:
          name: Linting webbilling-demo
          working_directory: examples/webbilling-demo
          command: pnpm run lint
      - run:
          name: Prettier
          command: pnpm run prettier:ci
      - run:
          name: Prettier webbilling-demo
          working_directory: examples/webbilling-demo
          command: pnpm run prettier:ci
      - run:
          name: Type checker including tests
          command: pnpm run test:typecheck
      - run:
          name: Svelte check
          command: pnpm run svelte-check
      - run:
          name: Unit tests
          command: pnpm run test
      - run:
          name: Build
          command: pnpm run build
      - run:
          name: Extract API using api-extractor
          command: pnpm run extract-api
      - run:
          name: Check if API has changed
          command: git diff --exit-code api-report/purchases-js.api.md
      - run:
          name: Pack
          command: pnpm pack
      - run:
          name: Publishing Storybook to Chromatic
          command: |
            if [[ "${CIRCLE_BRANCH}" != "main" ]]; then
              # For PRs - use current SHA and branch name
              export CHROMATIC_SHA=$(git rev-parse HEAD)
              export CHROMATIC_BRANCH=${CIRCLE_BRANCH}
              NODE_OPTIONS=--max-old-space-size=4096 npx chromatic \
                --ci \
                --exit-once-uploaded \
                --branch-name ${CIRCLE_BRANCH} \
                --patch-build=${CIRCLE_BRANCH}...main
            else
              NODE_OPTIONS=--max-old-space-size=4096 npx chromatic \
                --auto-accept-changes \
                --ci \
                --exit-once-uploaded
            fi

  test-e2e:
    docker:
      - image: mcr.microsoft.com/playwright:v1.56.1-jammy
    steps:
      - checkout
      - run:
          name: Update ENV for E2E test
          command: |
            echo 'export VITE_RC_API_KEY=${E2E_RC_API_KEY}; export VITE_RC_TAX_E2E_API_KEY=${E2E_RC_TAX_E2E_API_KEY}; export VITE_SKIP_TAX_REAL_TESTS_UNTIL=${VITE_SKIP_TAX_REAL_TESTS_UNTIL}; export VITE_ALLOW_PAYWALLS_TESTS=true' >> "$BASH_ENV"
            source "$BASH_ENV"
      - install-dependencies
      - run:
          name: Install Playwright browsers
          working_directory: examples/webbilling-demo
          command: npx playwright install --with-deps
      - run:
          name: Build
          command: pnpm run build
      - run:
          name: Pack
          command: pnpm pack
      - run:
          name: Install dependencies webbilling-demo
          working_directory: examples/webbilling-demo
          command: pnpm install
      - run:
          name: Build webbilling-demo
          working_directory: examples/webbilling-demo
          command: pnpm run build
      - run:
          name: E2E tests webbilling-demo
          working_directory: examples/webbilling-demo
          command: pnpm run test:ci

workflows:
  danger:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - revenuecat/danger

  weekly-run-workflow:
    when:
      and:
        - equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
        - equal: [ "release-train", << pipeline.schedule.name >> ]
    jobs:
      - revenuecat/automatic-bump

  manual-trigger-bump:
    when:
      equal: [ bump, << pipeline.parameters.action >> ]
    jobs:
      - revenuecat/automatic-bump

  test-deploy:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - test
      - test-e2e
      - deploy-demo:
          requires:
            - test
            - test-e2e
          <<: *only-main
      - hold:
          requires:
            - test
            - test-e2e
          type: approval
          <<: *release-branches
      - revenuecat/tag-current-branch:
          requires:
            - hold
          <<: *release-branches
      - make-release:
          <<: *release-tags
      - docs-deploy:
          <<: *release-tags
          requires:
            - make-release
