:root {
  font-family: "PP Object Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-green: #b4fab7;
}

/* #root {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
} */

#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}
h2 {
  font-size: 1.5em;
  line-height: 1.1;
}
p {
  font-size: 1.8em;
  line-height: 1.1;
}
button.button {
  display: inline-block;
  box-sizing: border-box;
  width: 240px;
  height: 64px;
  font-size: 16px;
  line-height: 16px;
  padding: auto;
  border-radius: 32px;
  border: 1px solid transparent;
  font-weight: 500;
  /* padding: 0.6em 1.2em; */
  /* font-size: 1em;
  font-weight: 500;
  font-family: inherit; */
  background-color: var(--color-green);
  color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
}
button.button:hover {
  border-color: #00000080;
}
button.button:focus,
button.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.landing {
  max-width: 1400px;
  margin: auto;
  padding-left: 64px;
  padding-right: 64px;
  box-sizing: border-box;
  margin-top: 54px;
  display: flex;
}

.landingMain {
  margin-top: 170px;
}

.landing h1 {
  font-weight: 500;
  font-size: 68px;
  line-height: 110%;
  margin-top: 48px;
  margin-bottom: 32px;
}

.landing h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 48px;
}

.screenshot img {
  width: 696px;
}

@media (max-width: 1300px) {
  .landingMain {
    margin-top: 64px;
  }

  .screenshot img {
    width: 464px;
  }
}

@media (max-width: 1000px) {
  .landing {
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  .landingMain {
    margin: 32px;
    text-align: center;
  }

  .landing h1 {
    font-size: 32px;
  }

  .landing h2 {
    font-size: 16px;
  }

  .screenshot {
    text-align: center;
    max-width: 100%;
  }

  .screenshot img {
    width: 100vw;
    max-width: 696px;
  }
}

.appUserIdForm {
  background: black;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  padding-top: 10px;
  height: 200px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  font-size: 24px;
}

.read-the-docs {
  color: #888;
}

.card {
  padding: 2em;
  border: 2px solid white;
  border-radius: 20px;
  text-align: center;
  margin-right: 20px;
  overflow: hidden;
}

.packages {
  display: flex;
  margin-top: 60px;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
}

.clickableCard {
  cursor: pointer;
}

.clickableCard:hover {
  background: white;
  color: black;
}

input {
  height: 2.25em;
}

.main {
  margin-top: 60px;
}

@media (max-width: 600px) {
  .card {
    box-sizing: border-box;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .appUserIdForm {
    position: fixed;
    width: 100%;
    border-right: 0px none;
    height: 180px;
    overflow-y: auto;
  }

  .main {
    margin-bottom: 200px;
  }

  .packages {
    flex-direction: column;
  }
}
