#root {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.appUserIdForm {
  background: black;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  padding-top: 10px;
  height: 200px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  font-size: 24px;
}

.read-the-docs {
  color: #888;
}

.card {
  padding: 2em;
  border: 2px solid white;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  margin-right: 20px;
  overflow: hidden;
}

.clickableCard {
  cursor: pointer;
}

.clickableCard:hover {
  background: white;
  color: black;
}

input {
  height: 2.25em;
}

.main {
  margin-top: 60px;
}

@media (max-width: 600px) {
  .card {
    box-sizing: border-box;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .appUserIdForm {
    position: fixed;
    width: 100%;
    border-right: 0px none;
    height: 180px;
    overflow-y: auto;
  }

  .main {
    margin-bottom: 200px;
  }
}
